src/index.jade
//--- INCLUDES
//---------------------------------------------------------

include assets/jade/site.jade

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  main.uk-container

    div.uk-grid.uk-grid-collapse

      div.uk-width-large-1-1

        div.uk-width-large-1-1.uk-margin-large-top

          h1.uk-margin-large-top
            | SSO Login : #{pageName}

          h2.uk-h3 SSO Templates

          ul
            li
              a(href="sso-default.html") SSO Default

            li
              a(href="sso-error.html") SSO Error

            li
              a(href="sso-timeout.html") SSO Timeout

            li
              a(href="sso-logout.html") SSO Logout

              li
                a(href="sso-logout-confirmation.html") SSO Logout confirmation

            li
              a(href="sso-reset.html") SSO Reset Password

            li
              a(href="sso-content.html") SSO Content

  </body>

dist/index.html





<!DOCTYPE html>
<html lang="en" class="common">
  <head data-theme="common" data-revision="8eba8fd">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" href="assets/css/core.css?r=8eba8fd" media="screen"/>
    <link rel="stylesheet" href="assets/css/site.css?r=8eba8fd" media="screen"/>
    <link rel="stylesheet" href="assets/css/print.css?r=8eba8fd" media="print"/>
    <title>SSO Login | Index</title><!--[if lt IE 9]>
    <script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
    <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
    <!--<![endif]-->
  </head><!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->
  <main class="uk-container">
    <div class="uk-grid uk-grid-collapse">
      <div class="uk-width-large-1-1">
        <div class="uk-width-large-1-1 uk-margin-large-top">
          <h1 class="uk-margin-large-top">SSO Login : Index</h1>
          <h2 class="uk-h3">SSO Templates</h2>
          <ul>
            <li><a href="sso-default.html">SSO Default</a></li>
            <li><a href="sso-error.html">SSO Error</a></li>
            <li><a href="sso-timeout.html">SSO Timeout</a></li>
            <li><a href="sso-logout.html">SSO Logout</a>
              <li><a href="sso-logout-confirmation.html">SSO Logout confirmation</a></li>
            </li>
            <li><a href="sso-reset.html">SSO Reset Password</a></li>
            <li><a href="sso-content.html">SSO Content</a></li>
          </ul>
        </div>
      </div>
    </div>
  </main></body>
</html>
